@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,600,700,800);
/* #region Обнулення стилів*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 20rem;
}

a {
    color: inherit;
    text-decoration: none;

}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {

    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
}

/* #endregion */
/* #region Стилі зазамовченням */

:root {
    --Primary-Dark-Blue-1: #142257;
    --Primary-Dark-Blue-2: #1F3584;
    --Neutural-Grey-1: #545971;
    --Neutural-Grey-2: #9EA3B5;
    --Soft-Grey: #E3E6F0;
    --Light-Grey: #F3F5F9;
    --Primary-Sky-Blue: #15B2F5;
    --Neutural-Black: #171921;
    --Neutural-White: #FFF;
    --Pink: #ff5e5e;
}

body {
    font-family: "Plus Jakarta Sans";
    font-size: clamp(16px, 5vw, 18px);
    /*1 параметр - мінімальне значення, 
    2 параметр - надаємо йому перевагу, 
    3 параметр - максимальне значення*/
    color: var(--Neutural-Grey-1);
    background-color: var(--Neutural-White);
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* Стилі зазамовченням КІНЕЦ */
/* Налаштування адаптиву ПОЧАТОК */
[class*="__container"] {
    max-width: 90.3125rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 0 auto;
}

/*Налаштування адаптиву КІНЕЦ */
/* #endregion */
/* #region Модулі ПОЧАТОК */
.block-title-center {
    text-align: center;
}

.block-title-inline {
    grid-template-columns: minmax(auto, 747px) minmax(auto, 613px);
    justify-content: space-between;
    align-items: end;
}

.block-title__title {
    color: var(--Neutural-Black);
    font-size: clamp(32px, 5vw, 52px);
    font-weight: 700;
    line-height: 1.23;
}

.block-title__title-big {
    font-size: clamp(44px, 5vw, 64px);
}

.block-title__title-white {
    color: var(--Neutural-White);
}

.block-title__text {
    font-weight: 400;
    line-height: 1.56;
}

/* #endregion Модулі КІНЕЦ */
/* #region header*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    transition: transform 0.5s;
    background-color: var(--Primary-Dark-Blue-1);
}

header.hidden {
    transform: translateY(-100%);
}

.header__container {
    min-height: 80px;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
}

.header__logo {}

.header__menu {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    /* column-gap: clamp(15px, 5vw, 57px); */
    column-gap: 57px;
    transition: column-gap 0.3s;
}

@media(max-width: 1200px){
    .menu__list{
        column-gap: 37px;
    }
}

@media(max-width: 991.98px){
    .menu__list{
        column-gap: 15px;
    }
}

.menu {
    justify-self: center;
}

.menu__icon {}

.menu__body {
}

.menu__item {}

.menu__link {
    font-weight: 500;
    line-height: 1.33;
    color: var(--Neutural-White);
}

.menu__link:hover{
    text-decoration: underline;
}

.header__schedule{
    justify-self: end;
    font-weight: 600;
    line-height: 1.33;
    color: var(--Neutural-White);
    align-items: center;
    gap: 10px;
}

.header__schedule::before{
    background-color: var(--Pink);
    content: "";
    flex-shrink: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

#bigscreen-schedule{
    display: flex;
}

#mobile-schedule {
    display: none;
}
/* Burger */
.menu__icon {}

.icon-menu {
    display: none;
    cursor: pointer;
}

@media(max-width: 767.98px) {
    #bigscreen-schedule {
        display: none;
    }

    #mobile-schedule {
        display: flex;
    }

    .header__logo{
        position: relative;
        z-index: 10;
    }
    
    .header__schedule {
        display: none;
    }

    .header__container {
        min-height: 56px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 10px 24px;
    }

    .icon-menu{
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 10;
    }

    .menu__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        gap: 32px;
        top: 0;
        right: 0;
        /* height: calc(100vh - 56px); */
        height: 100%;
        /* max-width: 320px; */
        width: 272px;
        z-index: 5;
        overflow: auto;
        background-color: var(--Primary-Dark-Blue-1);
        padding: 88px 24px 36px 24px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .menu__body.active{
        transform: translateX(0);
    }

    .menu__list{
        flex-direction: column;
        gap: 32px;
    }
}

.icon-menu.open img{
    content: url('/source/images/IC_x.svg');
}
.menu__body.no-transition{
    transition: none !important;
}

/* #endregion header */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 19, 53, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 4;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}
/* #region main*/
.main {
    background-color: var(--Primary-Dark-Blue-1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 15px 60px 15px;
    min-height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

/* .main::before, .main::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 26vw;
    height: 45px;
    transition: height 0.3s;
}

.main::before{
    left: 0;
    clip-path: polygon(0 100%, 100% 100%, 85% 0, 0 0);
}

.main::after{
    right: 0;
    clip-path: polygon(0 100%, 15% 0, 100% 0, 100% 100%); 
} */

/* .main__decor {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 26vw;
    transition: height 0.3s;
    object-position: right;
} */

.main-decor__item{
    position: absolute;
    bottom: -1px;
    width: 25vw;
    min-width: 330px;
    min-height: 31px;
    aspect-ratio: 479 / 45;
    transition: transform 0.5s;
}

.main-decor__item svg{
    width: 100%;
    height: 100%;
    display: block;
}

.decor-left{
    left: 0;
}

.decor-right{
    right: 0;
}

@media(max-width: 1335px){
    .decor-left{
        transform: translateX(-50%);
    }

    .decor-right{
        transform: translateX(50%);
    }
    
}

@media(max-width: 479.98px) {
    .decor-left {
        transform: translateX(-80%);
    }

    .decor-right {
        transform: translateX(80%);
    }
}

.main__image {
    width: 21vw;/* clamp(200px, 25vw, 412px); */
    overflow: hidden;
    position: relative;
}

.main__image img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-position: top;
    object-fit: cover;
}

.main__image-left::after, .main__image-right::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.main__image-left::after{
    background: linear-gradient(0deg, #131F4B 0%, rgba(19, 31, 75, 0) 100%);
    border-radius: 24px 24px 0 24px;
}

.main__image-right::after {
    background: linear-gradient(41deg, #131F4B 0%, rgba(19, 31, 75, 0) 100%);
    border-radius: 24px 24px 24px 0;
}

.main__body {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 24px;
    flex-direction: column; 
}

.main__content {
    display: flex;
    flex: 1 1 auto;
    /*flex-grow: 1; - коеф збільшення(чим більший коеф,
    тим більший блок)
    flex-shrink: 1; - коеф зменшення-стиснення (чим більший коеф, 
    тим меньший блок)        
    flex-basis: auto; - визначає початкову довжину гнучкого елемента*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.main-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 52px;
}

.main-list__item{
    color: var(--Neutural-Grey-2);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    position: relative;
}

.main-list__item:not(:last-child)::after{
    position: absolute;
    right: -30px;
    top: 50%;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--Neutural-Grey-2);
}

.main-list__item:not(:nth-child(3n))::after {
    position: absolute;
    right: -30px;
    top: 50%;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--Neutural-Grey-2);
}

.block-title {
    max-width: 670px;
}

.main-listDone{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
}

.done__item{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Primary-Sky-Blue);
    padding-left: 32px;
}

.done__item::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(/source/images/icons/Quotes.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
}

.main__button{
    display: inline-flex;
    margin-top: 24px;
    min-height: 65px;
    border-radius: 60px;
    padding: 8px;
    background-color: var(--Primary-Sky-Blue);
    justify-content: center;
    align-items: center;
    color: var(--Neutural-White);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    opacity: 1;
    box-shadow: none;
    transition: opacity 0.5s, box-shadow 0.5s, border-radius 0.5s;
}

.call-button:hover{
    /* background-color: #0a4a65;
    color: #8e8e8e; */
    /* transition: opacity 0.5s, box-shadow 0.5s, border-radius 0.5s; */
    /* opacity: 0.6; */
    box-shadow: 2px 15px 15px #03101e, -2px -15px 15px #03101e;
    border-radius: 25px;
}

.call-button span{
    padding: 0 16px;
}

.call-button__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Neutural-White);
    border-radius: 60px;
}

.main__advantages {
    display: grid;
    column-gap: clamp(10px, 25vw, 62px);
    grid-template-columns: repeat(4, auto);
    /* flex-wrap: wrap; */
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    transition: padding-bottom 0.5s;
}

.advantages-main__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    /* max-width: 190px; */
    position: relative;
    text-align: center;
}

.advantages-main__item:not(:nth-child(4n))::after{
    content: "";
    position: absolute;
    right: -32px;
    top: 0;
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, rgba(79, 102, 183, 0) 0%, rgba(79, 102, 183, 1) 48%, rgba(79, 102, 183, 0) 100%);
}

.advantages-main__icon {
    width: 48px;
    height: 48px;
    border-radius: 60px;
    padding: 12px;
    background-color: var(--Primary-Dark-Blue-2);
}

.advantages-main__text {
    display: inline;
    color: var(--Neutural-White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 18px;        
    font-weight: 600;
    line-height: 1.33;
}

@media (max-width: 1720px) {
    .main__advantages{
        grid-template-columns: repeat(2, auto);
        padding-bottom: 0;
    }

    .advantages-main__item:nth-child(2n)::after{
        content: none;
    }

}

@media (max-width: 991.98px) {
    .main{
        grid-template-columns: auto;
    }

    .main__image{
        display: none;
    }

    .main-list{
        column-gap: 34px;
    }

    .main-list__item{
        font-size: clamp(18px, 14px, 14px);
    }

    .main-list__item:not(:last-child)::after{
        right: -19.4px;
        width: 3px;
        height: 3px;
    }

    .block-title__title-big{
        font-size: 56px;
    }

    .done__item{
        font-size: 18px;
        padding-left: 26px;
    }

    .done__item::before{
        width: 18px;
        height: 18px;
    }

    .main__button{
        min-height: 48px;
        font-size: 18px;
    }

    .call-button__icon{
        padding: 8px;
    }

    .main__advantages{
        font-size: 14px;
        row-gap: 24px;
    }

    .main-list__item:not(:nth-child(3n))::after {
        right: -18.5px;
        width: 3px;
        height: 3px;
    }
}

@media (max-width: 479.98px) {
    .main-list__item {
        font-size: 14px;
    }

    .block-title__title{
        font-size: 32px;
    }

    .done__item {
        font-size: 14px;
        padding-left: 24px;
    }

    .done__item::before {
        width: 16px;
        height: 16px;
    }

    .main__advantages {
        font-size: 18px;
        column-gap: 24px;
        position: relative;
    }

    .advantages-main__item {
        flex-direction: column;
        justify-content: center;
    }

    .main__advantages::after {
        content: "";
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(180deg, rgba(79, 102, 183, 0) 0%, rgba(79, 102, 183, 1) 48%, rgba(79, 102, 183, 0) 100%);    
    }

    .main__advantages::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgba(79, 102, 183, 0) 0%, rgba(79, 102, 183, 1) 48%, rgba(79, 102, 183, 0) 100%);
    }

    .main-list__item:not(:nth-child(2n))::after{
        display: none;
    }

    .advantages-main__item:nth-child(1n)::after {
        content: none;
    }
}

@media(max-width: 384px){
    .advantages-main__item:nth-child(2n)::after {
        content: none;
    }
}

@media (max-width: 767.98px){
    .main-list{
        font-size: 14px;
        line-height: 20px;
    }

    .main{
        min-height: calc(100vh - 56px);
        margin-top: 56px;
    }
}
/* #endregion main */

.services {
    padding: 123px;
    padding-bottom: 64px;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services__body {

}

.services-header {}

.block-header__title {}

.block-header__text {}

.services__items {}

.services__item {}

.services__info {}

.services__image {}